<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <add key="ArgumentLengthBeforePerCompress" value="30000"/>

    <!--Valid: Normal / Idle / High / RealTime / BelowNormal / AboveNormal-->
    <!--DefaultsToBelowNormal-->
    <add key="CompressionPriority" value="High"/>
  </appSettings>
</configuration>

